<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970081752338-qkovlt5s8s1c8lvs6rpsgl8fa4qp8a20.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970081752338-qkovlt5s8s1c8lvs6rpsgl8fa4qp8a20</string>
	<key>API_KEY</key>
	<string>AIzaSyA6vBxRGPZnXmRje9ynpRtBfvgzkdZwWsk</string>
	<key>GCM_SENDER_ID</key>
	<string>970081752338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myapps.foto.design.create.social.post</string>
	<key>PROJECT_ID</key>
	<string>fotodesign-a6190</string>
	<key>STORAGE_BUCKET</key>
	<string>fotodesign-a6190.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970081752338:ios:668673a29b881f6c508fcb</string>
</dict>
</plist>